<header>
    <div class="heading">
        <h1 id="logo" style="color: rgb(43, 255, 0); display: inline-flex; font-size: 40px;">Hospital Management System V0.1(beta)</h1>
    </div>
    <div class="links">
        <nav class="navbar">

            <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="navbar-menu" id="navMenu">
                {% if g.user %}
                    <div class="dropdown">
                        <button class="dropbtn">Patient Management
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('create_patient') }}">Register Patient</a>
                            <a href="{{ url_for('update_patient') }}">Update Patient</a>
                            <a href="{{ url_for('deletepat') }}">Delete Patient</a>
                            <a href="{{ url_for('search_patient') }}">Search Patients</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Status Details
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('update_patient') }}">All Patients</a>
                            <a href="{{ url_for('patientscreen') }}"> Active Patients</a>
                            <a href="{{ url_for('search_patient') }}">Search Patients</a>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item"  href="{{ url_for('log_out') }}">
                            Log Out
                        </a>
               {% else %}
                    <a class="navbar-item" href="{{ url_for('log_in') }}">
                        Log In
                    </a>
                    <a class="navbar-item" href="{{ url_for('sign_up') }}">
                         Sign Up
                    </a>
               {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>


